<html>

<head>
    <link rel="stylesheet" href="/assets/edit_milestone.css">
</head>

<body>
    <div class="header_container">
        <h1>{{if .Milestone.Id}}Editing{{else}}Adding{{end}} milestone for {{.Book.Title}}</h1>
        <h2>{{if .PrevMilestone.Id}} After milestone {{.PrevMilestone.Header}} ({{.PrevMilestone.Caption}}) {{end}}</h2>
    </div>
    <form action="/save_milestone/{{.Book.FileName}}?previouisId={{.PrevMilestone.Id}}&milestoneId={{.Milestone.Id}}"
        method="POST">
        <div class="form_row">
            <div class="form_row-header">
                Header:
            </div>
            <div class="form_row-input">
                <input type="text" name="Header" placeholder="Header" value="{{.Milestone.Header}}">
            </div>
        </div>
        <div class="form_row">
            <div class="form_row-header">
                Caption:
            </div>

            <div class="form_row-input">
                <input type="text" name="Caption" placeholder="Caption (Optional)" value="{{.Milestone.Caption}}">
            </div>
        </div>
        <div class="form_row">
            <div class="form_row-header">
                Image Url:
            </div>
            <div class="form_row-input">
                <input type="text" name="ImageUrl" placeholder="Image Url (Optional)" value="{{.Milestone.ImageUrl}}">
            </div>
        </div>
        <p>
            Description:
        </p>
        <p>
            <textarea name="body" rows="20" cols="80"
                placeholder="Description of the milestone (Optional)">{{.Milestone.Body}}</textarea>
        </p>
        <div>
            <input type="submit" value="Save">
        </div>
    </form>
</body>
